@model IEnumerable<EXresturant.Models.Bestelling>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="whiteBackground" border>
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Bonnen Te Betalen </h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="BestellingItems" asp-action="Betaald" class="btn btn-success text-dark border-white ml-1">Betaald</a>

        </div>
        @if (Model.Count() == 0)
        {
            <div class="col-6">
                <h2 class="text-danger">Er is nog geen item</h2>
            </div>
            <div class="col-6 text-right">

            </div>
        }
        else
        {




            <div class="col-12">
                <table id="table_id" class="table table-striped table-dark border" style="background-color:#1e3144">
                    <thead>
                        <tr style=" background-color: #dc3545;">
                            @*<th>
                                @Html.DisplayNameFor(m => m.Id)
                            </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Tafelnummer)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsBetaald)
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.IsBetaald == false)
                            {
                        <tr>
                            @*<td class="text-warning font-weight-bold">
            @Html.DisplayFor(m => item.Id)
        </td>*@
                            <td class="text-white-50 font-weight-bold">
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td class="text-white-50 font-weight-bold">
                                @Html.DisplayFor(modelItem => item.Tafelnummer)
                            </td>
                            <td class="text-white-50 font-weight-bold">
                                @Html.DisplayFor(modelItem => item.IsBetaald)
                            </td>
                            <td style="width:150px">
                                <a asp-controller="BestellingItems" asp-action="Bon" class="btn btn-primary text-white border-white ml-1" asp-route-id="@item.Id">
                                    <i class="fas fa-euro-sign ">  Bon</i>
                                </a>
                            </td>
                            <td style="width:150px">
                                <a name="button1" value="true" asp-controller="BestellingItems" asp-action="check1" class="btn btn-warning text-white border-white ml-1" asp-route-id="@item.Id">
                                    <i class="fas fa-hand-holding-usd"></i>
                                </a>
                            </td>
                        </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>}
    </div>
</div>


@*@section Scripts {
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable({
                "lengthMenu": [[4, 25, 50, -1], [4, 25, 50, "All"]]
            });
        });

    </script>
}*@
