@model IEnumerable<EXresturant.Models.Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="whiteBackground" border>
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">@ViewBag.Menukaarten List</h2>
        </div>
        <div class="col-6 text-right">
            <partial name="CreateButtonPartial" />
        </div>
        @if (Model.Count() == 0)
        {
            <div class="col-6">
                <h2 class="text-danger">Er is nog geen item</h2>
            </div>
            <div class="col-6 text-right">

            </div>
        }
        else
        {
            <div class="col-12">
                <table id="table_id" class="table table-striped table-dark border" style="background-color:#1e3144">
                    <thead>
                        <tr style=" background-color: #dc3545;">
                            <th>
                                @Html.DisplayNameFor(m => m.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Menukaart)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Categorie)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-warning font-weight-bold">
                                    @Html.DisplayFor(m => item.Id)
                                </td>
                                <td class="text-white-50 font-weight-bold">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td class="text-white-50 font-weight-bold">
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td class="text-white-50 font-weight-bold">
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>

                                <td class="text-white-50 font-weight-bold">
                                    @Html.DisplayFor(modelItem => item.Menukaart.Naam)
                                </td>
                                <td class="text-white-50 font-weight-bold">
                                    @Html.DisplayFor(modelItem => item.Categorie.Naam)
                                </td>
                                <td style="width:150px">
                                    <partial name="OperationsButtonsPartial" model="item.Id" />

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>}
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable({
                "lengthMenu": [[4, 25, 50, -1], [4, 25, 50, "All"]]
            });
        });

    </script>
}
